.about {
  padding: 93px 0 89px;
  background-color: var(--color-light);
}

.about__content {
  display: flex;
  gap: 153px;
}

.about__content-aside {
  padding: 68px 0 61px;
}

.about__content-aside-header {
  margin-bottom: 40px;
  color: var(--color-primary);
  font-family: 'Inika';
  font-weight: 400;
  font-size: 40px;
  line-height: 52.12px;
}

.about__content-aside-header-colored {
  color: var(--color-accent);
}

.about__content-aside-text {
  color: var(--grey-dark);
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}