.contacts {
  padding-top: 53px;
  background-color: var(--bg-main);
}

.contacts__content {
  display: flex;
  gap: 113px;
}

.contacts__content-main {
  padding-top: 7px;
}

.contacts__content-main-header {
  margin-bottom: 37px;
  text-align: left;
  color: var(--color-primary);
  font-family: 'Inika';
  font-weight: 700;
  font-size: 40px;
  line-height: 52.12px;
}

.contacts__content-main-block-wrapper {
  width: 709px;
  display: flex;
  justify-content: flex-end;
}

.contacts__content-main-block {
  width: 450px;
  position: relative;
}

.contacts__content-main-block-button {
  padding: 4px 34px 5px 20px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: var(--green-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts__content-main-block-button-active {
  background-color: var(--bg-button);
  box-shadow: none;
  transition: all 0.5s;
}

.contacts__content-main-block-button-open .contacts__content-main-block-element {
  transform: rotate(180deg);
  background-color: var(--bg-element);
  transition: all 0.8s;
}

.contacts__content-main-block-button-open ~ .contacts__content-main-block-list {
  max-height: 300px;
  padding: 27px 49px 25px 26px;
}

.contacts__content-main-block-button:hover {
  cursor: pointer;
}

.contacts__content-main-block-text {
  color: var(--grey-light);
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

.contacts__content-main-block-element {
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-grey);
  border-radius: 50%;
  transition: all 0.8s;
}

.contacts__content-main-block-list {
  max-height: 0;
  padding: 0 49px 0 26px;
  overflow: hidden;
  background-color: var(--bg-list);
  color: var(--color-primary);
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  transition: all 0.8s;
}

.contacts__content-main-block-list-item {
  border-bottom: 1px solid var(--bg-secondary);
  transition: all 0.8s;
}

.contacts__content-main-block-list-item + .contacts__content-main-block-list-item {
  padding-top: 6px;
}

.contacts__content-main-block-list-item:hover {
  color: var(--grey-light);
  border-bottom: 1px solid var(--grey-light);
  cursor: pointer;
}

.contacts__details {
  width: 100%;
  padding: 17px 33px 0px 33px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: var(--grey-light);
  border: 1px solid var(--text-secondary);
  border-radius: 20px;
  position: absolute;
  top: 100px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}

.contacts__details.contacts__details-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s 0.5s;
}

.contacts__details-wrapper {
  margin-bottom: 18px;
  display: flex;
  gap: 16px;
}

.contacts__details-name {
  display: flex;
  flex-direction: column;
  color: var(--text-secondary);
}

.contacts__details-info {
  display: flex;
  flex-direction: column;
}

.contacts__button {
  width: 122px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 6px 0px;
  display: block;
  font-family: 'Inika';
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: var(--grey-light);
  background-color: inherit;
  border: 1px solid var(--color-accent);
  border-radius: 5px;
  transition: color 0.5s, background-color 0.5s;
}

.contacts__button:hover {
  cursor: pointer;
  color: var(--color-light);
  background-color: var(--color-accent);
}
