.welcome {
  padding: 62px 0 48px;
  background-color: var(--bg-main);
}

.welcome__content {
  display: flex;
  gap: 212px;
}

.welcome__content-aside {
  padding: 36px 0 31.36px;
}

.welcome__content-aside-header {
  margin-bottom: 42px;
  color: var(--grey-dark);
  font-family: 'Inter';
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
}

.welcome__content-aside-header-colored {
  color: var(--color-primary);
}

.welcome__content-aside-text {
  margin-bottom: 48px;
  color: var(--grey-dark);
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}

.welcome__content-aside-button {
  padding: 11px 25px;
  border: 2px solid var(--color-accent);
  border-radius: 10px;
  background-color: inherit;
  transition: all 0.5s;
  color: var(--text-secondary);
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.welcome__content-aside-button:hover {
  background-color: var(--color-accent);
  color: var(--color-light);
}