:root {
  --color-primary: #499a18;
  --color-accent: #e06733;
  --grey-light: #717171;
  --grey-dark: #636060;
  --border-main: #e3e1d5;
  --bg-main: #edf2eC;
  --bg-secondary: #d9d9d9;
  --bg-list: #dce9d9;
  --bg-button: #c1e698;
  --bg-element: #8bA07e;
  --text-main: #010201;
  --text-secondary: #000;
  --color-light: #fff;
  --color-grey: #aea1a1;
  --green-dark: #d6e7d2;
}
