* {
  box-sizing: border-box;
}

html {
  min-width: fit-content;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.container {
  width: 1220px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}