:root {
  --color-primary: #499a18;
  --color-accent: #e06733;
  --grey-light: #717171;
  --grey-dark: #636060;
  --border-main: #e3e1d5;
  --bg-main: #edf2eC;
  --text-main: #010201;
  --text-secondary: #000;
  --color-light: #fff;
}
